
<div class="container-fluid mt-2">
  <div class="row">

    <app-header></app-header>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="row">

    <app-footer></app-footer>
  </div>
</div>


<!-- ng build --prod --baseHref="https://nayneshrathod.github.io/Portfolio/"

git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/nayneshrathod/Portfolio.git
git push -u origin main
npx ngh --dir=deploy --branch=main -->
